extends ../global/layout

block content
    div
        h2
            | Login
        div
            form(action='login' metohd='POST')
                div
                    div
                        label(for='email') Email Address
                        div(class='mt-2')
                            input(name='email', type='email' autocomplete='email' required)
                    div
                        label(for='password') Password
                        div(class='mt-2')
                            input(name='password', type='password' autocomplete='current-password' required)
                    div
                        button(type='submit') login