extends ../global/layout

block content
    div
        h2
            | Signup
        p  #{wow}
        div
            form(action='/signup' method='POST')
                div
                    div
                        label(for='email') Email Address
                        div(class='mt-2')
                            input(name='email', type='email' autocomplete='email' required)
                    div
                        label(for='password') Password
                        div(class='mt-2')
                            input(name='password', type='password' autocomplete='current-password' required)
                    div
                        label(for='confirmPassword') Confirm Password
                        div(class='mt-2')
                            input(name='confirmPassword', type='password' autocomplete='current-password' required)
                    div
                        button(type='submit') signup