doctype html
html
  head
    title= title
    link(rel='stylesheet', style='text/css' href='/stylesheets/pico.min.css')
  body
    include navbar
    main(class='container')
        block content
    include footer
