nav(class='container-fluid')
      ul
        li
          a(href='./' class='contrast' onclick='event.preventDefault()')
            strong Brand
        li
      ul
      ul
        li
          details(role='list' dir='rtl')
            summary(aria-haspopup="listbox" role="link" class="secondary") Theme
            ul(role="listbox")
              li
                a( href="#" data-theme-switcher="auto") Auto
              li
                a(href="#" data-theme-switcher="light") Light
              li
                a(href="#" data-theme-switcher="dark") Dark
        li
          details(role="list" dir="rtl")
            summary(aria-haspopup="listbox" role="link" class="secondary") Examples (v1)
            ul(role="listbox")
              li
                a(href="../v1-preview/") Preview
              li
                a(href="../v1-preview-rtl/") Right-to-left
              li
                a(href="../v1-classless/") Classless
              li
                a(href="../v1-basic-template/") Basic template
              li
                a(href="../v1-company/") Company
              li
                a(href="../v1-google-amp/") Google Amp
              li
                a(href="../v1-sign-in/") Sign in
              li
                a(href="../v1-bootstrap-grid/") Bootstrap grid